* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #39687A;
    font-family: "DM Serif Text";
}

header #logo {
    width: 30%;
}

#main-nav {
    display: none;
}

#main-nav.active {
    display: flex;
    flex-direction: column;
}

#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: row;
    
}

#main-nav li {
    border: 2px solid #6b838e;
    background-color: #062e3b;
    border-radius: 10px;
    margin: auto;
}

#main-nav a {
    text-decoration: none;
    color: lightyellow;
    padding: 0.5em;
} 

#header-banner {
    background-image: url('./media/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    color: white;
    text-shadow: 1px 0px 10px black;
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

#header-banner p {
    text-align: center;
    padding: 2rem;
}

#currentweather {
    color: white;
    text-align: right;
    padding-top: 1em;
    padding-right: 1em;
}
 
#currentweather img {
    max-width: 60px;
}

#hamburger {
    font-size: 40px;
    float: right;
    background-color: #39687A;
    color: white;
    border-color: #39687A;
}

#booking {
    background-color: rgb(241, 203, 134);
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 1em;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border-color: rgb(191, 212, 225);
    box-shadow: 0 4px 16px 0;
}

#booking:hover {
    background-color: rgb(233, 161, 28);
    color: white;
}

body {
    background-color: #39687A;
    color: white;
    font-family: "Inter";
}

main section {
    padding: 1em;
    margin: 2em;
    line-height: 2em;
    background-color: rgb(70, 129, 129);
    border-radius: 2em;
    box-shadow: 5px 5px 2px 5px rgb(61, 116, 139);

}

main h2 {
    background-color: rgb(199, 205, 145);
    padding: 0.5em;
    border-radius: 2em;
    color: rgb(55, 55, 55);
    text-align: center;

}

main section p {
    padding: 1em;
    line-height: 1.5;
}

 ul {
    padding: 1em;
    list-style-type: none;
}

main li::before {
    content: "➢";
    padding-right: 8px;
}

li strong {
    color: rgb(240, 244, 151);
}


details {
    color: rgb(245, 232, 210);
}

marquee {
    color: lightblue;
    font-family: "DM Serif Text";
    text-transform: uppercase;
    line-height: 2;
    font-size: 18px;
    text-shadow: 1px 1px 0 #0c41ab;
    transform: translate(-1px, -1px);
    background-color: #115b63;
}


main button {
    background-color: rgb(241, 203, 134);
    padding: 0.5em 0.5em 0.5em 0.5em;
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    border-color: rgb(191, 212, 225);
    box-shadow: 0 4px 16px 0;

}

main button a {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

main img {
    display: block;
    margin: auto;
}

blockquote {
    position: relative;
    padding: 2.5rem 2rem 4rem;
    font-weight: bold;
    overflow: hidden;
}

blockquote:before {
    content: open-quote open-quote;
    font-weight: bold;
    font-size: 50px;
}



footer {
    text-align: center;
    padding: 1em;
}

footer ul {
    list-style-type: none;
    line-height: 1.8;
}

footer li a {
    text-decoration: none;
    color: rgb(241, 203, 134);
}

@media (min-width: 768px) {
    #main-nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        float: right;
    }
    #hamburger {
        display: none;
    }
}
