* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

header {
    background-color: lightgrey;
}

header #logo {
    width: 50%;
}

#header-banner {
    background-image: url('./media/hero.jpg');
    background-size: cover;
    background-position: center
    background-repeat: no-repeat;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
}

#main-nav {
    display: none;
}

#main-nav.active {
    display: grid;
}

@media (min-width: 768px) {
    #main-nav {
        display: grid;
    }
    #hamburger {
        display: none;
    }
}
